{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Main container for creating a post -->
<div class="bg-white w-full flex flex-col justify-center h-full m-5 rounded-xl shadow-2xl">
  <!-- Title of the page -->
  <h1 class="text-center text-3xl font-semibold my-6">Make a Post</h1>

  <!-- Post creation form -->
  <form method="POST" class="w-1/2 mx-auto p-6 bg-white shadow-2xl rounded-lg">
    <!-- Textarea for inputting the post content -->
    <textarea name="text" id="text" class="form-control p-4 w-full border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500" placeholder="What's on your mind?"></textarea>
    <div class="mt-4 text-end">
      <!-- Back button that redirects to the home page -->
      <a href="/home">
        <button type="button" class=" bg-gray-500 text-white py-2 px-6 rounded-lg hover:bg-gray-600">
          Back
        </button>
      </a>
      <!-- Submit button to create the post -->
      <button type="submit" class="ml-3 bg-blue-500 text-white py-2 px-6 rounded-lg hover:bg-blue-600">
        Post
      </button>
    </div>
  </form>
  
  <!-- Placeholder for future content or messages -->
  <div class="mt-6 text-center">
    
  </div>
</div>
{% endblock %}
